header 
    div.navegacion
        div.container
            div(class="row justify-content-center justify-content-md-between align-items-center py-4")
                div(class="col-md-4 col-6") 

h1(class="main-title") Welcome to our web site!! 